@import "tailwindcss";

@media print {
  @page {
    size: A4;
    margin: 15mm;
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: white !important;
  }
  .no-print {
    display: none !important;
  }
}

